   /* ==========================================
    SPECIFIC ELEMENTS/CONTAINERS - HOME PAGE
   ========================================== */

/* KPI Card formatting */

div[class="st-emotion-cache-4uzi61 eu6p4el5"]{
    background-color:rgba(199, 184, 184, 0.836); /*KPI Container background*/
}

div[data-testid="stExpander"] {
    background-color:white;
    -webkit-border-radius: 10px 10px 10px 10px; 
    -moz-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

div[class="stMainBlockContainer"] {
    color: black; /*KPI text color*/
    font-size: 20px; /*KPI text size*/
    font-weight: bold; /*KPI text weight*/
    padding: 10px; /*KPI text padding*/
}

