   /* ==========================================
    SPECIFIC ELEMENTS/CONTAINERS - HOME PAGE
   ========================================== */

/* KPI Card formatting */

div[class="st-emotion-cache-4uzi61 eu6p4el5"]{
    background-color:rgba(199, 184, 184, 0.836); /*KPI Container background*/
}

div[data-testid="stElementContainer"] div[data-testid="stMetric"] {
    background-color: #797d94 !important;
    align-items: center;
}

label[data-testid="stMetricLabel"] {
    color:white;
}

div[data-testid="stMetricValue"] {
    color:white;
}

div[data-testid="stMetricDelta"]{
    background-color: aliceblue;
    width:50%;
    opacity:0.9;
    font-weight: bold;
    border-radius:5px;
}


