   /* ==========================================
    SPECIFIC ELEMENTS/CONTAINERS - HOME PAGE
   ========================================== */

/* KPI Card formatting */

div[class="st-emotion-cache-4uzi61 eu6p4el5"]{
    background-color:rgba(199, 184, 184, 0.836); /*KPI Container background*/
}

div[data-testid="stElementContainer"] div[data-testid="stMetric"] {
    background-color: #797d94 !important;
}

label[data-testid="stMetricLabel"] {
    color:white;
}

div[data-testid="stMetricValue"] {
    color:white;
}

div[data-testid="stMetricDelta"]{
    background-color: aliceblue;
    width:50%;
    opacity:0.5;
    font-weight: bold;
    border-radius:5px;
}

/* KPI Card delta filtering */
button[kind="segmented_control"]{
    background-color: rgba(255, 255, 255, 0.87);
}

button[kind="segmented_control"]:hover{
    background-color: rgba(164, 189, 192, 0.479);
    border:1px solid rgb(34, 95, 110);
    color:#0b5f38
}

button[kind="segmented_controlActive"]{
    background-color: rgba(20, 112, 122, 0.87);
    border:2px solid white;
    color:white;
}
button[kind="segmented_controlActive"]:hover{
    border:2px solid rgba(189, 189, 189, 0.486);
    background-color: rgba(20, 112, 122, 0.87);
    opacity:0.8;
    color:rgb(255, 255, 255);
}

div[data-testid="stColumn"] {
    background-color: #797d94 !important;
    -webkit-border-radius: 10px 10px 10px 10px; 
    -moz-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}